#map { 
    height: 550px;
    width: 1250px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

/* disabling web scroll (codegrepper.com */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
 .noscroll{
    overflow: hidden;
 }
