
/* disabling web scroll (codegrepper.com) */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
 .noscroll{
    overflow: hidden;
 }

 /*template from dev.to memory game */

 .grid { 
    width: 100%; 
    height: 100px; 
    display: inline-flex; 
    flex-wrap: wrap; 
    margin: 5px auto; 
    } 
    
    .grid img { 
    margin: 1px; 
    transform-style: preserve-3d; 
    transition: transform 0.5s; 
    padding: auto;
    } 
    
    .grid img.flip { 
    transform: rotateY(360deg); 
    } 

    .selected {
        border: 4px solid blue;
    }
    
    .popup { 
    background: rgb(238, 76, 76); 
    /* border: double, black, 10px; */
    width: 100px; 
    height: 100px; 
    z-index:20;
    position: fixed; 
    top: 200px;
    left: 100px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    }
    
    /*score box and clicks */

    .data { 
    display: flex; 
    justify-content: space-between; 
    padding: 15px 30px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px; 
    } 
    
    .data span { 
    color: rgb(78, 14, 14);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px; 
    }

    body {
        background-image: url("Assets/Background.png");
    }
 /* tried to make a score bar like five stars rating sytle, added image for trial */
    /* span.stars, span.stars span {
        display: block;
        background: url("./Assets/smiling-strawberry.gif") 0 -16px repeat-x;
        width: 80 px;
        height: 16px;
    }

    span.stars span {
        background-position: 0,0;
    } */
/* quora.com/How-do-you-make-a-hidden-image-in-HTML */
    .hidden { visibility: hidden;}