
/* disabling web scroll (codegrepper.com) */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
 .noscroll{
    overflow: hidden;
 }

 /*template from dev.to memory game */

 .grid { 
    width: 100%; 
    height: 100px; 
    display: inline-flex; 
    flex-wrap: wrap; 
    margin: 5px auto; 
    } 
    
    .grid img { 
    margin: 1px; 
    transform-style: preserve-3d; 
    transition: transform 0.5s; 
    } 
    
    .grid img.flip { 
    transform: rotateY(360deg); 
    } 

    .selected {
        border: 4px solid blue;
    }
    
    /* .popup { 
    background: red; 
    width: 200px; 
    height: 200px; 
    z-index:20;
    position: fixed; 
    top: 100px;
    left: 100px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    } */
    
    /*score box and clicks */

    .data { 
    display: flex; 
    justify-content: space-between; 
    padding: 15px 30px; 
    font-size: 23px; 
    } 
    
    .data span { 
    color: rgb(78, 14, 14);
    font-size: 30px; 
    }

    body {
        background-image: url("Assets/Background.png");
    }
